@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}
.background {
  background-image: url(./assets/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
  margin-top: 3.2rem;
}
.data-input {
  margin-top: 3.2rem;
}
input {
  width: 45rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 1px solid #2563eb;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
.btn,
.btn:link,
.btn:visited {
  font-weight: 500;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #1e40af;
}
.btn-enter {
  border: 1px solid #2563eb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2563eb;
  padding: 1rem 2rem;
  color: #fff;
}
.list-container {
  max-width: 55rem;
  margin: 0 auto;
}
.list-box {
  display: flex;
  justify-content: space-between;
  background-color: #e8f0ff;
  margin: 3.2rem 0;
  align-items: center;
  padding: 1.6rem;
  border-radius: 11px;
  transition: all 0.3s;
}
.list-box:hover {
  background-color: #a6c4fc;
}
span {
  margin-right: 2.4rem;
}
.btn-delete {
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-delete:hover {
  color: red;
}
